@use "../../../assets/styles/mixins.scss" as *;

.navbar 
{
    background-color: #000;
    padding: 30px;

    &_list
    {
        @include flex-center;
        gap: 1rem;
    }

    &_item
    {
        list-style: none;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
    }
    &_item:hover
    {
        list-style: none;
        text-decoration: none;
        color: rgb(129, 129, 129);
    }
    &_item:focus
    {
        list-style: none;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 24px;
    }
}